<div class="card">
    <div class="card-img-wrapper">
        <img src="https://c.stocksy.com/a/GFg200/za/639050.jpg" width="102" height="132" class="card-img-top">
    </div>
    <div class="card-body p-1" *ngIf="member">
        <h4 class="card-title text-center mb-1"><i class="fa fa-user mr-3"></i>
            {{member.userName}}
        </h4>

        <div class="text-center">
            <button type="button" 
            routerLink="/members/{{member.id}}" 
            class="btn">Information</button>
        </div>
    </div>
</div>