<app-home></app-home>
<div class="container">
    <div class="container2" *ngIf="category && recipe">
        <h3>{{category.categoryName}} recipes > {{recipe.recipeName}}</h3>
    </div>
    <div class="desc">
        <p>Description</p>
        <div class="descText" *ngIf="recipe">{{recipe.description}}</div>
    </div>
    <div class="data">
        <div class="ingI">
            <table>
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Measure unit</th>
                    <th>Price (in BAM)</th>
                </tr>
                <tr *ngFor="let recipeDetail of recipeDetails">
                    <td>
                        <h4 *ngIf="recipeDetail">{{recipeDetail.ingredient.ingredientName}}</h4>
                    </td>
                    <td>
                        <h4 *ngIf="recipeDetail">{{recipeDetail.quantity}}</h4>
                    </td>
                    <td>
                        <h4 *ngIf="recipeDetail">{{getMeasureUnitName(recipeDetail.measureUnit)}}</h4>
                    </td>
                    <td>
                        <h4 *ngIf="recipeDetail">{{recipeDetail.cost}}</h4>
                    </td>
                </tr>
            </table>
            <div class="price" *ngIf="recipeDetails">
                <h3><u>{{calculateTotalCost()}}</u></h3>
            </div>
            <div class="totP">
                <h3>Total price:</h3>
            </div>
        </div>
        <div class="card-img-wrapper" *ngIf="recipe">
            <img src="{{recipe.recipePhoto}}" class="card-img-top">
        </div>
    </div>
</div>
<div class="bB">
    <button class="btn" onclick="history.back()">Back</button>
</div>