.container {
    background-color: rgb(250, 175, 84);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 545px;
    margin-bottom: 10px;
}

.btLM {
    margin-bottom: 10px;
    text-align: center;
}

.btn {
    background-color: orangered;
    color: white;
}

.btn:hover {
    background-color: rgba(255, 68, 0, 0.800);
    transition-duration: 0.2s;
}

.row {
    margin: 0px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.col-2 {
    width: 100%;
}