.container{
    background-color:rgb(250, 175, 84); 
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 570px;
}
.btB{
    margin: auto;
    text-align: center;
}
.title{
    margin-top: 20px;
}
.btn{
    background-color: orangered;
    color: white;
}