h1{
    margin-top: 100px;
}
.bB{
    float: right;
}
.btn{
    background-color: orangered;
    color: white;
}
.btn:hover{
    background-color: rgba(255, 68, 0, 0.800);
    transition-duration: 0.2s;
}