.cont{
    border-style: solid;
    width: 50%;
    margin-bottom: 3px;
}
.bB{
    float: right;
}
.row{
    margin: 20px;
}
.container{
    background-color:rgb(250, 175, 84);  
    overflow : scroll;
    overflow-x : hidden;
    overflow-y : scroll;
}