<app-home></app-home>
<br>
<h3>All recipes</h3>
<div class="container">
    <div class="row">
        <div class="cont" *ngFor="let recipe of recipes">
            <h4 *ngIf="recipe">{{recipe.recipeName}}</h4>
            <h6 *ngIf="recipe">Best {{recipe.recipeName.toLowerCase()}} in the world!</h6>
        </div>
    </div>
    <div class="btLM">
        <button class="btn">...</button>
    </div>
</div>
<br>
<div class="bB">
    <button class="btn" onclick="history.back()">Back</button>
</div>