.container {
    background-color: rgb(250, 175, 84);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 440px;
}

.cont {
    border-style: solid;
    width: 50%;
    margin-bottom: 3px;
    background-color: wheat;
}

.bB{
    float: right;
}
.btn{
    background-color: orangered;
    color: white;
}
.btn:hover{
    background-color: rgba(255, 68, 0, 0.800);
    transition-duration: 0.2s;
}
.row {
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
}

.btLM {
    margin-bottom: 10px;
    text-align: center;
}