.card:hover img {
    transform: scale(1.2, 1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    opacity: 0.7;
}

.card img {
    transform: scale(1.0, 1.0);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper{
    overflow: hidden;
}
.btn{
    background-color: orangered;
    color: white;
}
.btn:hover{
    background-color: rgba(255, 68, 0, 0.800);
    transition-duration: 0.2s;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
}