<app-home></app-home>
<br>
<h3 *ngIf="category">Add new recipe into {{category.categoryName}} category!</h3>

<form #addRecipeForm="ngForm" (ngSubmit)="addRecipe()" autocomplete="off">
    <div class="rData">
        <table>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Measure unit</th>
                <th>Price (in BAM)</th>
            </tr>
            <tr>
                <td>
                    <select>
                        <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">
                            {{ingredient.ingredientName}}</option>
                    </select>
                </td>
                <td><input type="text" name="quantity" class="qInput"></td>
                <td>unit</td>
                <td>0.00</td>
            </tr>
        </table>

        <button class="addMoreI btn-sm">Add more ingredients</button>

        <div class="price">
            <h3><u>0.00</u></h3>
        </div>

        <div class="totP">
            <h3>Total price:</h3>
        </div>
    </div>

    <div class="data">
        <input name="recipename" class="inputs inputs1" type="text" [(ngModel)]="model.recipename"
            placeholder="Please insert recipe name...">
        <br>
        <input name="recipePhoto" class="inputs inputs1" type="text" [(ngModel)]="model.recipePhoto"
            placeholder="Please insert photo URL...">
        <br>
        <textarea rows="10" name="description" class="inputs" [(ngModel)]="model.description"
            placeholder="Please type some description about this recipe..."></textarea>
    </div>
</form>

<button class="btn btn-lg" type="submit" (click)="addRecipe()">Add new recipe!</button>

<div class="bB">
    <button class="btn" onclick="history.back()">Back</button>
</div>