<app-home></app-home>
<form #addRecipeForm="ngForm" (ngSubmit)="addRecipe()" autocomplete="off">
    <div class="container">
        <br>
        <h4 *ngIf="category">Add new recipe into {{category.categoryName}} category!</h4>
        <div class="rData">
            <div class="browse-container">
                <input type="text" placeholder="Upload photo..." class="form-control" name="browse">
                <button class="btn btn-outline-primary" type="submit">Browse</button>

            </div>

            <table>
                <tr>
                    <th>Ingredient</th>
                    <th>Quantity</th>
                    <th>Meausere unit</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td>Ingredient</td>
                    <td>Quantity</td>
                    <td>Meausere unit</td>
                    <td>Price</td>
                </tr>
            </table>
            <br>
            <div class="price">
                <p style="text-align:center;">Price</p>
            </div>
            <div class="totP">
                <p style="text-align:right; margin-right: 5px;">Total price: </p>
            </div>
        </div>

        <input name="recipename" class="inputs form-control" type="text" [(ngModel)]="model.recipename" placeholder="Please insert recipe name">
        <br>
        <textarea rows="15" name="description" class="inputs form-control" [(ngModel)]="model.description"
            placeholder="Please type some description about this recipe"></textarea>
    </div>
    <br>
    <div class="btB">
        <button class="btn" type="submit" >Add new recipe!</button>

        <button class="bB btn btn-primary" onclick="history.back()">Back</button>
    </div>
</form>