<h1><strong>App<span>Chef</span></strong></h1>
<div class="cont">
    <button type="button" class="btn btn2"
        *ngIf="(accountService.currentUser$ | async) as user" routerLink="/categories"><strong>Homepage</strong></button>
    <div class="cont2">
        <button type="button" class="btn btn2" *ngIf="(accountService.currentUser$ | async) as user">
            <div class="dropdown" dropdown>
                <a class="dropdown-toggle" dropdownToggle><strong>Hi, {{user.username}}!</strong></a>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                    <button type="button" class="btn" (click)="logout()" routerLink="/"><strong>Logout</strong></button>
                </div>
            </div>
        </button>
    </div>
</div>