h1{
    text-align: center;
    margin-top: 50px;
}

span{
    color: orange;
}

.cont{
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn2{
    background-color: orangered;
    color: white;
}

.btn2:hover{
    background-color: rgba(255, 68, 0, 0.800);
    transition-duration: 0.2s;
}

.cont2{
    float: right;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.dropdown-menu {
    background-color: bisque;
    margin-top: 8px;
}