<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off" *ngIf="(accountService.currentUser$ | async) === null">
    <h2 class="text-center text primary">Sign up</h2>
    <hr>
    <div class="form-group">
        <input type="text" class="form-control text-center" name="username" [(ngModel)]="model.username" placeholder="Please insert your username">
    </div>
    <br>
    <div class="form-group">
        <input type="text" class="form-control text-center" name="emailAddress" [(ngModel)]="model.emailAddress" placeholder="Please insert your email address">
    </div>
    <br>
    <div class="form-group">
        <input type="password" class="form-control text-center" name="password" [(ngModel)]="model.password" placeholder="Please insert your password">
    </div>
    <br>
    <div class="form-group">
        <input type="password" class="form-control text-center" name="confirmPassword" [(ngModel)]="model.confirmPassword" placeholder="Please confirm your password">
    </div>
    <br>
    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-outline-success mr-2" (click)="cancel()" type="button" routerLink="/">Cancel</button>
    </div>
</form>