<div class="container">
    <form *ngIf="(accountService.currentUser$ | async) === null" #registerForm="ngForm" (ngSubmit)="register()"
        autocomplete="off">
        <h1><strong>Sign<span>Up</span></strong></h1>
        <hr>
        <div class="container2">
            <input type="text" class="iNputs form-control" name="username" [(ngModel)]="model.username"
                placeholder="Please insert your username">
            <input type="text" class="iNputs form-control" name="emailAddress" [(ngModel)]="model.emailAddress"
                placeholder="Please insert your email address">
            <input type="password" class="iNputs form-control" name="password" [(ngModel)]="model.password"
                placeholder="Please insert your password">
            <input type="password" class="iNputs form-control" name="confirmPassword"
                [(ngModel)]="model.confirmPassword" placeholder="Please confirm your password">
        </div>
        <div class="container3">
            <button class="btn btn-success" type="submit">Register</button>
            <button class="btn btn-outline-primary" (click)="cancel()" type="button" routerLink="/">Cancel</button>
        </div>
    </form>
</div>