<div class="container">
    <h1><strong>App<span>Chef</span></strong></h1>
    <hr>
    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" (ngSubmit)="login()"
        autocomplete="off">
        <div class="container2">
            <input name="username" [(ngModel)]="model.username" class="iNputs form-control" type="text"
                placeholder="Please enter your username">
            <input name="password" [(ngModel)]="model.password" class="iNputs form-control" type="password"
                placeholder="Please enter your password">
        </div>
        <button class="btn btn-outline-success" type="submit">LOGIN</button>
    </form>
    <form *ngIf="(accountService.currentUser$ | async) === null">
        <div class="container3">
            <label>Don't have an account?
                <a href="#" (click)="registerToggle()" routerLink="/register">Sign up</a>
            </label>
        </div>
        <div *ngIf="registerMode" class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                </div>
            </div>
        </div>
    </form>
</div>