<div class="row">
    <div class="cont">
        <h4 *ngIf="recipe">{{recipe.recipeName}}</h4>
        <h6 *ngIf="recipe">Best {{recipe.recipeName.toLowerCase()}} in the world!</h6>
        <button class="btn btn-primary" *ngIf="category recipe"
            routerLink="/categories/{{category.id}}/{{recipe.id}}">How
            to prepare</button>

            <div class="price" *ngIf="recipeDetails">
                <p style="text-align:center;">{{calculateTotalCost()}}</p>
            </div>
    </div>
</div>