<div class="mDiv">
    <div class="container">
        <h1 *ngIf="category">{{category.categoryName}}</h1>
        <div class="ingI">
            <div class="partPrice">
                <p>Pp</p>
            </div>
            <div class="mUnit">
                <p>Mu</p>
            </div>
            <div class="gWeight">
                <p>Gg</p>
            </div>
            <div class="ingN">
                <p>Ingredients name</p>
            </div>
            <div class="partPrice">
                <p>Pp</p>
            </div>
            <div class="mUnit">
                <p>Mu</p>
            </div>
            <div class="gWeight">
                <p>Gg</p>
            </div>
            <div class="ingN">
                <p>Ingredients name</p>
            </div>
            <div class="partPrice">
                <p>Pp</p>
            </div>
            <div class="mUnit">
                <p>Mu</p>
            </div>
            <div class="gWeight">
                <p>Gg</p>
            </div>
            <div class="ingN">
                <p>Ingredients name</p>
            </div>
            <div class="partPrice">
                <p>Pp</p>
            </div>
            <div class="mUnit">
                <p>Mu</p>
            </div>
            <div class="gWeight">
                <p>Gg</p>
            </div>
            <div class="ingN">
                <p>Ingredients name</p>
            </div>
            <div class="price">
                <p style="text-align:center;">Price: </p>
            </div>
            <div class="totP">
                <p style="text-align:right; margin-right: 5px;">Total price: </p>
            </div>
        </div>
        <div class="box">
            <div class="recipN" *ngIf="recipe">{{recipe.recipeName}}
            </div>

        </div>
        <p class="descN">Description</p>
        <div class="desc">
            <p>Test Test Test Test Test Test Test TestTest Test Test Test Test Test Test TestTest Test Test Test Test
                Test
                Test Test</p>
        </div>
    </div>
</div>
<button class="bB btn btn-primary" onclick="history.back()">Back</button>