.recipN {
    border-style: solid;
    width: 49%;
}

.desc {
    border-style: solid;
    width: 49%;
    border-width: thin;
    height: 220px;
}

.descN {
    margin-top: 15px;
    margin-bottom: 1px;
}

.ingI {
    width: 49%;
    float: right;
}

.totP {
    border-style: solid;
    width: 86%;
    margin-bottom: 20px;
    border-width: thin;
}

.price {
    border-style: solid;
    width: 12%;
    margin-bottom: 20px;
    float: right;
}

.bB {
    float: right;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

table {
    border: 1px solid;
    margin-bottom: 10px;
}

card-img-top {
    width: 12px;
    height :12px;
}