<div class="container">
    <h1 *ngIf="category">{{category.categoryName}}</h1>
    <div class="box">
        <div class="recipN" *ngIf="recipe">{{recipe.recipeName}}
            <div class="card-img-wrapper">
                <img src="{{recipe.recipePhoto}}" class="imgImg">
            </div>
        </div>

    </div>
    <div class="ingI">
        <table>
            <tr>
                <th>Ingredient</th>
                <th>Quantity</th>
                <th>Measure unit</th>
                <th>Price (in BAM)</th>
            </tr>
            <tr *ngFor="let recipeDetail of recipeDetails">
                <td>
                    <h4 *ngIf="recipeDetail">{{recipeDetail.ingredient.ingredientName}}</h4>
                </td>
                <td>
                    <h4 *ngIf="recipeDetail">{{recipeDetail.quantity}}</h4>
                </td>
                <td>
                    <h4 *ngIf="recipeDetail">{{getMeasureUnitName(recipeDetail.measureUnit)}}</h4>
                </td>
                <td>
                    <h4 *ngIf="recipeDetail">{{recipeDetail.cost}}</h4>
                </td>
            </tr>
        </table>
        
       <div class="price" *ngIf="recipeDetails">
            <p style="text-align:center;">{{calculateTotalCost()}}</p>
        </div>

        <div class="totP">
            <p style="text-align:right; margin-right: 5px;">Total price: </p>
        </div>
        <button class="bB btn btn-primary" onclick="history.back()">Back</button>
    </div>
    <p class="descN">Description</p>
    <div class="desc">
        <div class="descText" *ngIf="recipe">{{recipe.description}}</div>
    </div>
</div>